<img src="assets/svg/logo.svg" alt="app logo" aria-hidden="true" class="app-logo" />
<h2>Move your Github Templates to the next level</h2>
<section>
  <article>
    <h3>Make your own template</h3>
    <p>Start your own template from scratch</p>
    <a mat-raised-button color="primary" routerLink="/edit">Create</a>
  </article>

  <article>
    <h3>Discover presets</h3>
    <p>Select one of your presets, created based on great open-source templates :</p>
    <ul>
      <li>Bug Report</li>
      <li>Feature request</li>
      <li>more to come</li>
    </ul>
    <a mat-raised-button color="primary" disabled>Explore</a>
  </article>

  <article>
    <h3>Pimp your yaml content</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa earum natus quae tenetur vel.
      Accusamus, ad blanditiis commodi corporis cupiditate, eaque eius error eveniet fugit laborum
      nam optio quisquam sapiente?
    </p>
    <a mat-raised-button color="primary" disabled>Load</a>
  </article>
</section>
